.container{
    display: flex;
    flex-direction: column;
}

.page_container{
    margin-left: 9vw;
    margin-right: 9vw;
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}